@media only screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    header{
        flex-direction: column;

    }
    .content , .content-img{
        width: 100%;
        text-align: center;
        padding: 0 20px ;
    }
    section{
        flex-direction: column;
    }
    .section-title ,.section-img0{
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    .cointainer{
        flex-direction: column;
        margin: 0 20px;
    }
    .title-content h2{
        padding: 0 20px 0 30px;
    }
    .cointainer-img img{
        width:130%;
        margin: 0 80px 0 0;
    }

    .cointainer-img {
        width: 100%;
        margin: 0 30px 0 10px;
        /* padding: 0 60px; */
    }
    .cointainer,p{
    }
    section p{
        padding-right: 20px;
        justify-content: center;
          text-align: center;
    }
    .section-title , p{
        margin: 0 0 10px 10px;
        align-items:center;

    }
    .features-banner p{
        margin: 0 10px 0 80px;

    }
    .sponcer-logo{
        padding:0 ;
        margin: 0;
        gap: ;
    }
    .sponcer{
        gap:30px;
    }
    footer{
        padding: 0 20px;
    }

  }




